/*

@font-face {
  font-family: 'OpenSans';
  src: url(font-path('opensans/opensans-regular.woff')) format('woff'),
       url(font-path('opensans/opensans-regular.ttf'))  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(font-path('opensans/opensans-semibold.woff')) format('woff'),
       url(font-path('opensans/opensans-semibold.ttf'))  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(font-path('opensans/opensans-bold.woff')) format('woff'),
       url(font-path('opensans/opensans-bold.ttf'))  format('truetype');
  font-weight: 700;
  font-style: normal;
}

*/