@import "includes/normalize";

@import "includes/fonts";

@import "includes/form-elements";
@import "includes/header";

// background: hsl(200, 1, 92);
// border-bottom: 1px solid hsl(200, 3, 76);

// old $highlight-bg: hsl(200, 15, 92);
// unused darker $attachment-color: #8A8780;

$background: #d7d3c8;
$highlight-bg: #EBE6DA;
$highlight-attachment-bg: #F7F3E6;

$highlight-border: hsl(200, 3, 76);
$heading-text-color: #0095DD;

@mixin highlight-bg {
  background-color: $highlight-bg;
  border: 1px solid $highlight-border;
}

@mixin rounded($radius: 0.25em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
// Reset
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Base
body {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;

  margin-bottom: 3rem;

  line-height: 1.3;
  color: hsl(200, 1, 15);
  background-color: $background;
}
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  color: $heading-text-color;
  margin-bottom: 5px;
}

p {
  margin: 1rem 0;
}

.container {
  width: 97%;
  margin-right: auto;
  margin-left: auto;
}

.hide {
  display: none;
}

/** Login Screen
========================================================================== */
.login-view {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  margin-top: 50px;

  button {
    float: right;
    margin-right: 36px;
  }
}

/** Bug New
========================================================================== */
.newBug__header {
  @include highlight-bg;
  font-weight: normal;
  font-size: 1.125rem;
  padding: 0.5em;
  margin-bottom: 1rem;
}

/** Browse Table
========================================================================== */
.browse-table-filters {
  @include highlight-bg;
  padding: 1rem;

  margin-bottom: 1.5rem;

  select {
    margin-right: 1em;
  }
}


/** Site Elements
========================================================================== */
.app-status {
  position: absolute;
  left: 70%;
  width: 30%;
  min-width: 30%;
  background-color: yellow;
  opacity: 0.7;
  color: black;
}

a {
  color: hsl(200, 95%, 45%);
  &:hover {
    background: hsla(200, 95%, 90%, 0.25);
  }
}

.bug {
  @extend .container;
}
.bug > .header {
  @include highlight-bg;

  padding: 0.5em;
  margin-bottom: 1rem;
}
.bug > .detail {
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.bug > .detail > * {
  display: inline-block;
  vertical-align: top;
}
.bug > .detail > .left, .bug > .detail > .right {
  width: 45%;
}
.bug > .detail > .padding {
  width: 5%;
}
.bug > .detail > * > * {
  margin-bottom: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px dotted hsl(200, 15%, 94%);
}
.bug > .detail > * > * > :first-child {
  font-weight: 600;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.bug > .detail > * > * > :nth-child(2),
.bug > .detail > * > * > .value {
  display: inline-block;
  width: 79%;
}

.flags select {
  font-size: 11px;
  padding: 0;
}
.flags li {
  margin-bottom: 0.5rem;
}

.bug ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bug ul > li {
  display: inline-block;
  padding: 0 5px 0 0;
}

.bug a {
  color: hsl(200, 75%, 45%);
  text-decoration: none;
}

.bug button {
  float: right;
  margin-top: -6px;
}

.cc {
 button {
    margin-top: 0px;
  }
}

.flash {
  border: 2px red;
  color: red;
  padding: 10px;
}

/** textarea
========================================================================== */
textarea {
  @include rounded;
  font-family: monospace;
  font-size: 10pt;
}

/** Comment
========================================================================== */
.bug .comment-template, .bug .comment-template * {
  visibility: none;
}

.comment-text {
  textarea {
    height: 150px;
    width: 96%;
    max-width: 869px;
  }
  button {
    margin-top: 3px;
    float: none;
  }
}

.bug .comment {
  background-color: hsl(200, 1, 97);
  border-width: 1px;
  border-style: solid;
  border-color: hsl(200, 3, 90);
  border-bottom: none;

  padding: 1rem;

  max-width: 870px;
  word-wrap: break-word;
}
.bug .comment:last-of-type {
  border-bottom: 5px solid hsl(200, 3, 90);
  margin-bottom: 0.5rem;
}

.bug pre {
  white-space: pre-wrap;
  font-size: 10pt;
  margin: 1rem 0;
}

.bug .is-resolved {
  text-decoration: line-through;
}

.fade-in {
  transition: background-color 0.5s ease-in;
  background-color: #ccc;
}

.ember-view .comment {
  margin-top: 0.4rem;
  @include rounded;
  //max-width: 29.25rem;

  button {
    float: right;
  }

  .header {
    font-size: 0.85rem;
    span:first-child {
      font-weight:  600;

    }
  }
}

/** Browse Table
    ========================================================================== */

.browse-table{
  th:hover{
    cursor:pointer;
  }
  .sortUp:after {
    content:" \2191";
  }
  .sortDown:after {
    content:" \2193";
  }
  .product, .component, .assignee, .status, .changed{
    white-space: nowrap;
  }
}

/** Products
========================================================================== */
.products {
  ul{
    list-style: none;
    margin-bottom:30px;
    overflow:hidden;
    border-top:1px solid #ccc;
  }
  li{
    width:33.333%;
    line-height:1.5em;
    border-bottom:1px solid #ccc;
    float:left;
    display:inline;
      a {
      text-decoration: none;
    }
  }
}


/** Attachment
========================================================================== */

// Attachment Page
.attachment-main {
  @extend .container;
  h1 {
    @include highlight-bg;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  pre {
    margin: 1rem 0;
    font-size: 0.9rem;
    // background-color: #f7f7f7;
    border: 1px solid hsl(200, 1, 85);
    padding: 1em;
    // border-left: 5px solid #eee;
  }
}

// Attachment as part of bug
.attachments {
  width: 100%;
  @media all and (min-width: 75em) {
    width: 45%;
  }
}
.attachments {
  font-size: 0.825rem;
  margin: 0.75rem 0 1.25rem;
  line-height: 1.65;
  border: 1px solid #eee;

  td {
    padding: 0.35rem 0.75rem;
    background-color: lighten($highlight-attachment-bg, 2%);
  }
  // Markup is a little hard for this section
  // so need to style parent and then reset in the 'a' tag
  tr td:first-child {
    // font-style: italic;
    color: hsl(200, 1, 20);
    font-size: 0.775rem;
    a {
      font-size: 0.875rem;
      font-style: normal;
    }
  }
  tr:nth-of-type(1n) {
    background-color: hsl(200, 1, 96);
  }
  tr:nth-of-type(2n) {
    background-color: hsl(200, 1, 90);
  }
}



/** Modal
========================================================================== */
.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 250px;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// Modal style
.modal {
  background: white;
  border: 1px solid black;
  border-radius: 4px;

  padding: 1rem;

  input {
    width: 100%;
  }
}
/** Attachment Modal
========================================================================== */
.attachment {
  @extend .modal;
  width: 400px;
  text-align: left;

  h4 {
    color: $heading-text-color;
  }

  th {
    padding-right: 3px;
  }

  input {
    margin-bottom: 6px;
    border-radius: 2px;
    width: 100%;
  }

  input[type="file"] {
    border-style: none;
  }

  textarea {
    width: 100%;
    margin-bottom: 3px;
  }

  button {
    float: right;
  }

}
/** Animate
========================================================================== */
@-webkit-keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

header,
.bug {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
