body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f0e9;
  color: #4e4e4e;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

hr {
  border-top: 1px dotted #d7d3c8;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #4E4E4E
}

img {
  vertical-align: middle;
}

input, select {
  height: 26px;
}

input, select, textarea {
  border-radius: 3px;
  border: 1px solid #C4C4C4;
  width: 99%;
  display: inline-block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  color: #4E4E4E;
  padding: 2px;
  padding-left: 4px;
}

select {
  color: #4e4e4e;
  height: 26px;
  background-color: #fff;
  border: 1px solid #d7d3c8;

}

input[type=text] {
  -webkit-font-smoothing: antialiased;
}

input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  margin-bottom: 5px;
}

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
}

label a {
  font-weight: 400;
  text-transform: none;
  margin-left: 3px;
  margin-right: 3px;
}

button {
  display: inline-block;
}

a {
  color: #0095DD;
}

a:hover {
  color: #00539F;
}

.wrapper {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #f2f0e9;
}

.nav {
  list-style: none;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.search {
  float: right;
  width: 450px;
}

.bug-info {
  /* height: 104px; */
  background-color: #ffffff;
  margin-bottom: 35px;
  padding: 10px 20px 10px 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.bug-name {
  width: 1000px;
  height: 46px;
  font-weight: 300;
  font-size: 30px;
  color: #4f4f4f;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  padding-left: 8px;
}

.bug-name[readonly=readonly] {
  border: 1px solid white;
}

.bug-no {
  display: inline-table;
  float: right;
  font-weight: 600;
  font-size: 20px;
  color: #1d8cc9;
  margin-top: 14px;
}

.bug-stats {
  padding-top: 7px;
}

.bug-stats span {
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #a7a7a7;
  margin-left: 10px;
}

/*.bug-stats > span:last-of-type {
  float: right;
}*/

.bug-stats p {
  font-size: 18px;
  color: #4e4e4e;
  display: inline;
}

.bug-alias {
  float: right;
  margin-top: -3px;
}

.bug-alias input {
  width: 130px;
}

.main-view {
  width: 900px;
}

.attachments-container {
  padding: 20px;
  background: white;
}

.attachments {
  width: 100%;
  border-collapse: collapse;
}

.attachments td {
  padding: 4px 0px;
  border-bottom: 1px solid #cecece;
}

.attachments tfoot td {
  padding: 8px 0px 0px 0px;
  border-bottom: none;
}

.attachments .details {
  font-size: 11px;
}

.comment {
  display: inline-block;
  width: 860px;
  margin-top: 13px;
  background-color: #ffffff;
  padding: 20px;
}

.comments-show-all {
  font-size: 16px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 13px 0px;
  margin-top: 13px;
}

.comments-show-all a {
  text-decoration: none;
}

.comments-show-all img {
  margin-right: 10px;
  margin-left: 20px;
}

.comment-header {
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
}


.comment-reply {
  float: right;
}

.comment-header hr {
  margin-top: 15px;
}

.new-comment button {
  height: auto;
  width: auto;
}

.new-comment textarea {
  font-family: 'Droid Sans Mono', Menlo, Courier, monospace;
  font-size: 13px;
}

.avatar {
  height: 44px;
  margin-right: 10px;
}

.comment-date {
  margin-left: 40px;
}

.comment-date img {
  margin-right: 10px;
}

.comment-text {
  font-family: 'Droid Sans Mono', Menlo, Courier, monospace;
  font-size: 13px;
  white-space: pre-wrap;
}

.edit-side-bar {
  position: absolute;
  right: 0px;
  top: 194px;
  width: 325px;
  padding-bottom: 20px;
}

.edit-side-bar > div {
  display: inline-block;
  width: 325px;
  margin-top: 7px;
  font-size: 13px;
}

.edit-side-bar label, .popover label {
  font-size: 11px;
  font-weight: 800;
}

.edit-side-bar a {
  color: #0095dd;
}

.edit-side-bar hr {
  margin-bottom: 0px;
}

.with-button > input {
  width: 130px;
  display: inline-block;
}

.edit-btn {
  font-size: 20px;
  font-weight: 400;
  background: #5BC6FB;
  color: white;
  height: 44px;
  width: 100%;
  border: 1px solid #40B3F8;
  border-radius: 3px;


  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #40AEF2 0%, #5AD0FF 100%);
      /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #40AEF2 0%, #5AD0FF 100%);
      /* Opera */
  background-image: -o-linear-gradient(bottom, #40AEF2 0%, #5AD0FF 100%);
      /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #40AEF2), color-stop(1, #5AD0FF));
      /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #40AEF2 0%, #5AD0FF 100%);
      /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #40AEF2 0%, #5AD0FF 100%);
}

.cancel-btn {
  font-size: 20px;
  font-weight: 400;
  width: 162px;
  height: 44px;
  background-color: #ea5439;
  color: white;
  border: 1px solid #b02832;
  border-radius: 3px 0px 0px 3px;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #f05f64 0%, #e4474d 100%);
      /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #f05f64 0%, #e4474d 100%);
      /* Opera */
  background-image: -o-linear-gradient(bottom, #f05f64 0%, #e4474d 100%);
      /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f05f64), color-stop(1, #e4474d));
      /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #f05f64 0%, #e4474d 100%);
      /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #f05f64 0%, #e4474d 100%);
}

.save-btn {
  font-size: 20px;
  font-weight: 400;
  width: 162px;
  height: 44px;
  background-color: #57ba45;
  color: white;
  border: 1px solid #409433;
  border-radius: 0px 3px 3px 0px;
  margin-left: -4px;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #61c641 0%, #4fb048 100%);
      /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #61c641 0%, #4fb048 100%);
      /* Opera */
  background-image: -o-linear-gradient(bottom, #61c641 0%, #4fb048 100%);
      /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #61c641), color-stop(1, #4fb048));
      /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #61c641 0%, #4fb048 100%);
      /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #61c641 0%, #4fb048 100%);
}

.delete-btn, .add-btn {
  height: 22px;
  border: 1px solid #cecece;
  margin-left: -2px;
  vertical-align: middle;
  margin-top: -3px;
  line-height: 16px;
}

.delete-btn {
  background-color: #d7d3c8;

}

.delete-btn > img {
  vertical-align: middle;
}

.add-btn, .write-btn, .inbox-btn, .add-pop-btn, .save-comment-btn, .remove-cc-btn {
  color: white;
  width: 22px;
  height: 22px;
  border: 1px solid #62b5f0;
  border-radius: 3px;
  background-color:#69bcf3;
  margin-left: 5px;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #77c6f5 0%, #5fb0eb 100%);
      /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #77c6f5 0%, #5fb0eb 100%);
      /* Opera */
  background-image: -o-linear-gradient(bottom, #77c6f5 0%, #5fb0eb 100%);
      /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #77c6f5), color-stop(1, #5fb0eb));
      /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #77c6f5 0%, #5fb0eb 100%);
      /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #77c6f5 0%, #5fb0eb 100%);
}

.write-btn, .inbox-btn {
  padding: 3px 0px 0px 2px;
}

.write-btn {
  float: right;
}

.alert {
  height: 28px;
  line-height: 24px;
  background-color: #cedfeb;
  font-size: 16px;
  text-align: center;
  color: #1d8fc9;
  border: 1px solid #68bbf2;
  border-radius: 3px;
  padding-top: 5px;
}

.alert img {
  margin-right: 15px;
}

.alert.error {
  background-color: red;
  color: white;
  height: auto;
  border: 1px solid red;
}

.status-res > div{
  height: 70px;
  background-color: #FFF;
  display: inline-block;
  width: 49%;
  text-align: center;
}

.status-res .full {
  width: 100%;
}

.status-res label {
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid #e7e5de;
}

.status-res span {
  line-height: 35px;
}

.status-res select {
  width: 110px;
  margin-top: 5px;
}

.keywords > input {
  background-color: #d7d3c8;
  height: 20px;
}

.product select, .component select {
  width: 325px;
}

.version > select {
  width: 203px;
}

.hardware select, .importance select {
  width: 60%;
}

.hardware span:first-of-type select:first-of-type, .importance span:first-of-type select:first-of-type {
  width: 37%;
  margin-right: 5px;
}

.assignee input {
  width: 286px;
}

.assignee img, .write-btn img {
  margin-bottom: 10px;
  margin-left: -2px;
}

.cc > div, .groups > div {
  color: #0095dd;
}

.cc .notifications {
  font-weight: 400;
  font-size: 14px;
  color: #4c4c4c;
  text-transform: none;
}

.not-used label {
  display: inline-block;
}

.label-btn label {
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  padding-left: 5px;
  border: 1px solid #62b5f0;
  border-radius: 3px;
  background-color:#69bcf3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.label-btn button,
.label-btn .button {
  float: right;
  margin: -1px 0; /* for the left border to grow past the label's border */
  background: transparent;
  border: none;
  border-left: 1px solid white;
  border-radius: 0px;
}

.label-btn.with-table label {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.table-container td {
  box-sizing: border-box; /* this fixes width issues related to padding */
  -moz-box-sizing: border-box;
}

.table-container {
  background: white;
  border-radius: 3px;
  border: 1px solid #C4C4C4;
  overflow: hidden;
}

.table-container.with-button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.table {
  width: 100%;
  table-layout: fixed;
  font-size: 13px;
  border-collapse: collapse;
  overflow: hidden;
  white-space: nowrap;
}

.table tbody td {
  border: 1px solid #C4C4C4;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:first-of-type td {
  border-top: none;
}

.table tbody tr td:first-of-type {
  border-left: none;
}

.table tbody tr td:last-of-type {
  border-right: none;
}

.table tbody tr:last-of-type td {
  border-bottom: none;
}

.table tbody tr:last-of-type td:first-of-type {
  border-left: none;
}

.table tbody tr:last-of-type td:last-of-type {
  border-right: none;
}

.table .deleted {
  background-color: #FEE6E7;
}

.table tfoot td {
  padding: 0;
}

.table tfoot .label-btn label {
  margin: 0px;
}

.table .select-container {
  position: relative;
}

.table .select-container img {
  position: absolute;
  right: 2px;
  top: 7px;
  z-index: 1;
}

.table select {
  background-color: transparent;
  border: none;
  height: auto;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2; /* the select is overlaying the arrow */
}

.table input[type=text] {
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
}

.flag-name {
  width: 95px;
}

.flag-status {
  width: 34px;
  text-align: center;
}

.flag-status select {
  width: 54px; /* +20px to chop off the select's arrow */
}

.flag-setter {
  width: 80px;
}

.table .status {
  width: 125px;
}

.table .status select {
  width: 145px; /* +20px to chop off the select's arrow */
}

.button-cell {
  width: 22px;
  text-align: center;
}

  .button-cell button {
    border: none;
    background: none;
    padding: 0;
  }


.popover {
  background-color: #fff;
  /* height: 125px; */
  width: 345px;
  position: absolute;
  border-color: #e8e7e0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 8px 7px 28px rgba(0, 0, 0, 0.5);
  right: 345px;
  top: 213px;
}

.popover-content {
  margin: 15px;
}

.popover label {
  margin-bottom: 3px;
}

.popover label > input {
  margin-top: 3px;
}

.popover span {
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
}

.popover button {
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  height: auto;
  width: auto;
}

.popover a {
  font-size: 14px;
  vertical-align: sub;
}

.cc-popover {

}

.cc-popover ul {
  height: 190px;
  overflow: auto;
  width: 97%;
  list-style: none;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cc-popover input {
  width: 235px;
  height: 23px;
  margin-bottom: 5px;
}

.add-pop-btn {
  float: right;
}

.remove-cc-btn {
  margin-top: 10px;
  margin-left: 0px;
}

.popover-content div > div {
  display: inline-block;
  width: auto;
}

.flag-name-pop select {
  width: 200px;
  margin-left: -3px;
}

.flag-name-pop {
  margin-right: 8px;
  margin-bottom: 5px;
}


.status-pop select {
  width: 80px;
}

.requestee-pop {
  margin-top: 3px;
}

.requestee-pop input {
  width: 200px;
  height: 23px;
}


.popover .pointy {
  position: absolute;
  width: 0;
  height: 0;
  right: -11px;
  top: 50%;
  margin-top: -15px; /* half the height of the arrow */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
}

/** Modal
========================================================================== */
.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 250px;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// Modal style
.modal {
  background: white;
  border: 1px solid black;
  border-radius: 4px;

  padding: 1rem;

  input {
    width: 100%;
  }
}
/** Attachment Modal
========================================================================== */
.attachment {
  @extend .modal;
  width: 400px;
  text-align: left;

  th {
    padding-right: 3px;
  }

  input {
    margin-bottom: 6px;
    border-radius: 2px;
    width: 100%;
  }

  input[type="file"] {
    border-style: none;
  }

  textarea {
    width: 100%;
    margin-bottom: 3px;
  }

  button {
    float: right;
  }

}