<div class="bug">
  {{template 'bug/header'}}
  {{template 'bug/detail'}}
  {{render   'bug/attachments' unobsoleteAttachments}}
  {{#linkTo  'bug.attachment' this}}Upload a new attachment{{/linkTo}}
  {{template 'bug/comments'}}
</div>
