select {
  background-color: #f7f7f7;
  // -webkit-appearance: none;
}

select,
input,
textarea,
label {
  font-size: 0.85rem;
}

select,
input,
textarea {
  border-radius: 2px;
  border: 1px solid hsl(200, 3, 76);
}

select:focus,
input:focus {
  background-color: #f2f2f2;
  border-color: hsl(200, 3, 64);
}

input:focus {
  background-color: #eee;
}

input {
  padding: 0.35rem 0.45rem;
}
select {
  padding: 0.35rem 0.45rem;  
}

button {
  border: 1px solid blue;
  background-color: hsl(200, 45, 85);
  border: 1px solid hsl(200, 25, 80);
  padding: 0.25rem 0.5rem;

  &:hover {
    background-color: hsl(200, 45, 75);
  }

  &.button--large {
    padding: 0.65rem 1.3rem;
    font-size: 1.125rem;
    color: #222;
  }
}

textarea {
  min-height: 6rem;
}

.form__item {
  margin: 1.75rem 0;
}

/** Layout
========================================================================== */

.form--long {
  max-width: 650px;
}

.form__item {
  @media all and (min-width: 35em) {
    display: flex;
    display: -webkit-flex;
  }
}

.form__item label {
  display: block;
  width: 100%;
  -webkit-order: 1;
  order: 1;
  @media all and (min-width: 35em) {
    width: 25%;
    padding-right: 10px; 
  }
}

.form__item input,
.form__item select,
.form__item textarea {
  width: 100%;
  -webkit-order: 2;
  order: 2;
  @media all and (min-width: 35em) {
    display: block;
    width: 75%;
  }
}
