/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab: */

@import "normalize";
@import "header";

// background: hsl(200, 1, 92);
// border-bottom: 1px solid hsl(200, 3, 76);

$highlight-bg: hsl(200, 1, 92);
$highlight-border: hsl(200, 3, 76);

@mixin highlight-bg {
  background-color: $highlight-bg;
  border: 1px solid $highlight-border;
}

// Reset
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Base
body {
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;

  margin-bottom: 3rem;

  line-height: 1.25;
  color: hsl(200, 1, 15);
}
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  margin: 1rem 0;
}

input {
  border: 1px solid hsl(200, 3, 76);
  padding: 0.25rem 0.35rem;
}
button {
  border: 1px solid blue;
  background-color: hsl(200, 25, 90);
  border: 1px solid hsl(200, 25, 85);
  padding: 0.25rem 0.5rem;

  &:hover {
    background-color: hsl(200, 25, 80);
  }
}

/** Site Elements
========================================================================== */
.app-status {
  position: absolute;
  left: 70%;
  width: 30%;
  min-width: 30%;
  background-color: yellow;
  opacity: 0.7;
  color: black;
}

a {
  color: hsl(200, 95%, 45%);
  &:hover {
    background: hsla(200, 95%, 90%, 0.25);
  }
}

.bug {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
}
.bug > .header {
  @include highlight-bg;

  padding: 0.5em;
  margin-bottom: 1rem;
}
.bug > .detail {
  margin-bottom: 1rem;
}
.bug > .detail > * {
  display: inline-block;
  vertical-align: top;
}
.bug > .detail > .left, .bug > .detail > .right {
  width: 45%;
}
.bug > .detail > .padding {
  width: 5%;
}
.bug > .detail > * > * {
  margin-bottom: 0.125rem;
  padding-bottom: 0.125rem;
  border-bottom: 1px dotted hsl(200, 15%, 94%);
}
.bug > .detail > * > * > :first-child {
  font-weight: 600;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.bug > .detail > * > * > :nth-child(2) {
  display: inline-block;
  width: 79%;
}

.bug ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bug ul > li {
  display: inline-block;
  padding: 0 5px 0 0;
}

.bug a {
  color: hsl(200, 75%, 45%);
  text-decoration: none;
}

.bug .comment-template, .bug .comment-template * {
  visibility: none;
}

.bug .comment {
  background-color: hsl(200, 1, 97);
  border-width: 1px;
  border-style: solid;
  border-color: hsl(200, 3, 90);
  border-bottom: none;

  padding: 1rem;

  max-width: 41.25rem;
  word-wrap: break-word;
}
.bug .comment:last-of-type {
  border-bottom: 5px solid hsl(200, 3, 90);
}

.bug pre {
  white-space: pre-wrap;
  font-size: 10pt;
  margin: 1rem 0;
}

.bug .is-resolved {
  text-decoration: line-through;
}

.fade-in {
  transition: background-color 0.5s ease-in;
  background-color: #ccc;
}

/** Modal
========================================================================== */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}

.modal {
  position: absolute;
  top: 25vh;
  width: 250px;
  left: -webkit-calc(50% - (250px/2));
  left: -moz-calc(50% - (250px/2));
  
}

// Modal style
.modal {
  background: white;
  border: 1px solid black;
  border-radius: 4px;

  padding: 1rem;
  
  input {
    width: 100%;
  }
}

/** Animate
========================================================================== */
@-webkit-keyframes fadeIn { 
  from { 
    opacity:0; 
  } 
  to { 
    opacity:1; 
  } 
}
@-moz-keyframes fadeIn { 
  from { 
    opacity:0; 
  } 
  to { 
    opacity:1; 
  } 
}
@keyframes fadeIn { 
  from { 
    opacity:0; 
  } 
  to { 
    opacity:1; 
  } 
}

header,
.bug {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}