%reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  @extend %reset-list;
  display: -moz-flex;
  display: -webkit-flex;
  > li {
    margin-right: 1.5em;
  }
}

.nav {
  font-size: 0.85rem;
}

.nav {
  background: hsl(60, 1, 92);
  background: hsl(200, 1, 92);
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav {
  margin-top: 20px;
  margin-left: 10px;
}