<label>Add a new URL:</label>
{{input type="text" value=newSeeAlsoUrl action="add" targetObject=view}}
<span><a href="#" {{action "close" target=view}}>Cancel & Close</a></span>
<button class="add-pop-btn" {{action "add" target=view}}>Add</button>
