<header class="main-app-header">
  {{!render 'search'}}
  {{!partial 'nav'}}
</header>

<div class="wrapper">
  {{outlet}}
</div>

{{#if showingLoginModal}}
  <div class="modal-overlay" {{action hideLoginModal}}></div>
  <div class="modal">
    {{render 'login'}}
  </div>
{{/if}}
