<div class="header">
  <span>{{creator}}</span>
  <span>{{creation_time}}</span>
  {{! FIXME: this could be better }}
  {{#if controller.user.isLoggedIn}}
    <span><button {{action reply this}}>reply</button></span>
  {{/if}}
</div>
<pre>{{text}}</pre>