<header class="comment-header">
  {{gravatar creator}}
  <span>{{creator}}</span>
  <span class="comment-date">
    <img src="assets/images/clock.png" alt="Date" />
    {{creation_time}}
  </span>
  {{! FIXME: this could be better }}
  {{#if controller.user.isLoggedIn}}
    <img src="assets/images/reply.png" alt="Reply" />
  {{/if}}
  <hr>
</header>
<pre class="comment-text">{{linkify text}}</pre>