<h1>Login to Bugzilla</h1>

<div class="section" style="width: 500px; margin: 0 auto;">
  {{errorMessage}}
  <form {{action login on="submit"}}>
    <p>{{input type="text" value=username placeholder="Username"}}</p>
    <p>{{input type="password" value=password placeholder="Password"}}</p>
    <button type="submit">Login</button>
  </form>
</div>
