<ul class="nav">
  <li>{{#linkTo 'bugNew'}}New{{/linkTo}}</li>
  <li>{{#linkTo 'browse'}}Browse{{/linkTo}}</li>
  {{#if user.isLoggedIn}}
    <li>{{#linkTo 'dashboard'}}My Dashboard{{/linkTo}}</li>
  {{/if}}
  <li>{{render 'user'}}</li>
</ul>
