<div id="search" class="search">
  {{input type="text" value=searchText placeholder="Search..."}}
  {{#if searchResults}}
    <ul class="search-results" {{action clearSearchText}}>
      {{#each searchResults}}
        <li>
          {{#linkTo "bug" record}}
            {{ref}}: {{record.summary}}
          {{/linkTo}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <a href="https://www.mozilla.org/" title="Mozilla - Home of the Mozilla Project"><img src="/assets/images/tabzilla.png"></a>
</div>
