<!DOCTYPE html>
<html>
<head>
  <title>Bugzilla</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "application" %>
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script></body>
</html>
